@import url('https://fonts.googleapis.com/css2?family=PT+Sans+Narrow&family=Raleway:wght@310&family=Smooch+Sans:wght@400;600&display=swap');
.Holder{
    padding :6% 3%;
}
.Pricing-info{
    display:list-item;
}
.prc-inf{
    font-family: 'PT Sans Narrow', sans-serif;
    margin-bottom: 3%;
    margin-top: 4%;
    
}
.prev-prc{
    margin: 0;
    margin-bottom: 8%;
    color:rgb(189, 189, 189);
    font-weight: 400;
    font-family: 'Raleway', sans-serif;
}
.buy-btn{
    border:0.4px solid rgb(17, 88, 194);
    border-radius: 4px;
}
.buy-btn:hover{
    border:0.4px solid rgb(198, 199, 199);
    border-radius: 4px;
    
}
.Buy-Now{
    border:none;
    background-color: white;
    color: rgb(17, 88, 194);
    font-size: 20px;
    padding: 10px 10px;
    font-family: 'Smooch Sans', sans-serif;
    font-weight: 600;
}
.Buy-Now:hover{
    color:rgb(189, 199, 199);
}
.Domain-Type{
    font-family: 'PT Sans Narrow', sans-serif;
}